/* CSS definition file containing site stylesheet */
body {
    
    background-image: url('../image/background.jpg');
}
table.container {
    margin-left: 20px;
}
form {
    margin-left: 30px;
}
h1 {
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 10px;
}
p {
    padding-left: 30px;
    
}
.navbar {
    margin-bottom: 0px;
}

#content {
    width:100%; 
    margin-left:5% auto;
    margin-right:5% auto;
    background-color: #fff;
    min-height: 600px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
table {
    
}
.footer {
    padding-top: 10px;
    padding-bottom: 1px;
    font-size: small; 
    font-style:italic;
    text-align:center;
    bottom: 0;
    margin-left:5% auto;
    margin-right:5% auto;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.row>div {margin-bottom:10px;}
